.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  border-radius: 8px;
  /* margin: 0 auto; */
}

tbody tr:nth-child(odd) {
  background-color: #ebb68f;
}

table {
  position: relative;
  border-collapse: collapse;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FF8630;
}

td {
  border: 1px solid #070707;
}
